.heading {
    font-family: Helvetica;
    font-size: 2em;
}

.normal {
    font-family: Helvetica;
    font-size: 0.88em;
}

QWidget {
    background-color: rgb(33, 133, 221);
}

QLineEdit {
    background-color: white;
    color: black;
    font-family: Helvetica;
    font-size: 1.13em;
    border-radius: 0.3em;
    height: 12.5em;

}

QPushButton {
    background-color: rgb(105, 183, 251);
    border-radius: 0.3em;
    height: 1.65em;
    padding: 0.2em;
}

QPushButton:hover {
    background-color: rgb(80, 139, 192);
    font-size: 1.05em;
    border-radius: 0.3em;
    border: 1px solid rgb(51, 51, 51);
    padding: 0.2em, 0.2em, 0.2em, 0.2em;
    min-width: 4.3em;
}